[package]
name = "spreet"
version = "0.2.0"
edition = "2021"
description = "Create a spritesheet from a set of SVG images"
repository = "https://github.com/flother/spreet"
license = "MIT"
keywords = ["sprite", "svg", "cartography", "vector-tiles", "maplibre"]
categories = ["command-line-utilities", "encoding", "filesystem", "graphics"]

[dependencies]
clap = { version = "3.1", features = ["derive"] }
exitcode = "1.1"
png = "0.17"
rectangle-pack = "0.4"
resvg = "0.22"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tiny-skia = "0.6"
usvg = "0.22"
walkdir = "2"

[dev-dependencies]
assert_cmd = "2.0"

[profile.release]
lto = "thin"
strip = true
codegen-units = 1
