[package]
name = "spreet"
version = "0.8.0-dev"
edition = "2021"
rust-version = "1.61"
description = "Create a spritesheet from a set of SVG images"
readme = "README.md"
repository = "https://github.com/flother/spreet"
documentation = "https://docs.rs/spreet"
license = "MIT"
keywords = ["sprite", "svg", "cartography", "vector-tiles", "maplibre"]
categories = ["command-line-utilities", "encoding", "filesystem", "graphics"]

[dependencies]
assert_fs = "1.0.7"
clap = { version = "4.1", features = ["derive"] }
crunch = "0.3.3"
exitcode = "1.1"
multimap = "0.8.3"
oxipng = "8"
png = "0.17"
rayon = "1.6"
resvg = "0.29"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
assert_cmd = "2.0"
predicates = "2.1.1"

[profile.release]
lto = "thin"
strip = true
codegen-units = 1
