[package]
name = "spreet"
version = "0.5.0-dev"
edition = "2021"
description = "Create a spritesheet from a set of SVG images"
repository = "https://github.com/flother/spreet"
license = "MIT"
keywords = ["sprite", "svg", "cartography", "vector-tiles", "maplibre"]
categories = ["command-line-utilities", "encoding", "filesystem", "graphics"]

[dependencies]
assert_fs = "1.0.7"
clap = { version = "3.2", features = ["derive"] }
crunch = "0.3.3"
exitcode = "1.1"
multimap = "0.8.3"
oxipng = "6.0.0"
png = "0.17"
rayon = "1.5.3"
resvg = { git = "https://github.com/RazrFalcon/resvg", rev = "a739aef5d01360ec238c886bc50674f31458df00" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
assert_cmd = "2.0"
predicates = "2.1.1"

[profile.release]
lto = "thin"
strip = true
codegen-units = 1
