[package]
name = "spreet"
version = "0.4.0-dev"
edition = "2021"
description = "Create a spritesheet from a set of SVG images"
repository = "https://github.com/flother/spreet"
license = "MIT"
keywords = ["sprite", "svg", "cartography", "vector-tiles", "maplibre"]
categories = ["command-line-utilities", "encoding", "filesystem", "graphics"]

[dependencies]
assert_fs = "1.0.7"
clap = { version = "3.2", features = ["derive"] }
exitcode = "1.1"
multimap = "0.8.3"
oxipng = "5"
png = "0.17"
predicates = "2.1.1"
rectangle-pack = "0.4"
resvg = "0.23"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tiny-skia = "0.6"
usvg = "0.23"

[dev-dependencies]
assert_cmd = "2.0"

[profile.release]
lto = "thin"
strip = true
codegen-units = 1
